body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header{
    background-color:#09c332;
    color: aliceblue;
}

#content>table{
    border-collapse: collapse;
}
#content>table>tbody #content>table>thead{
    display: flex;
}
tr {
	border-top:1px solid gray;
	text-align:center;	
}
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #09c332;
	padding:10px;
	color: #FFFFFF;
}

tr:nth-child(even) {background: #BBBBBB}
tr:nth-child(odd) {background: #FFFFFF}	
 